# Dossiers à ignorer
__pycache__/
dataset/

#new_dataset/

new_dataset/
doc/
imagesCases/
imagesFeuilles/
poids_03_06_2024/
poids_avec_C/

#poids_cnn/

# Fichiers à ignorer
*.txt
*.jpg
*.png
!Feuille_176_verite_terrain.txt
!IMG_0177_verite_terrain.txt
!IMG20231107104606_verite_terrain.txt